/.idea
/tmp
/node_modules
/bower_components
/*.tgz
/.grunt
/tscommand*
*.psd

/docs
/scratch
/build
/dist/*.js.map
/dist/*.debug.*

/demo/js/pixelbutler.*
/demo/README.md

/test/build
/test/dist
/test/tmp
