/.idea
/node_modules
/test
/demo
/build
/src
/scratch
/typings

/dist/pixelbutler.min.js
/dist/*.debug.*


/*.tgz
.jshintrc
.editorconfig
.travis.yml
.gitignore
.gitattributes
.npmignore
/npm-log*
/.grunt
/tscommand*
bower.json
Gruntfile.js
/*.jpg
/tsd.json
/tslint.json
