/.idea
/node_modules
/bower_components
/test
/demo
/src
/scratch
/typings

/dist


/*.tgz
.jshintrc
.editorconfig
.travis.yml
.gitignore
.gitattributes
.npmignore
/npm-log*
/.grunt
/tscommand*
bower.json
Gruntfile.js
/*.jpg
/tsd.json
/tslint.json
